*,*::after，*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
i{
  display: block;
}
i,em,b{
  font-style: normal;
}